%nav.header
  .fit-box
    .logo.pull-left
    .navigation.pull-right
      %ul
        %li.item.active Happy Testers
        %li.item Status
        %li.item Invite Friends
        %li.item Today's Survey
