.left-column.pull-left
  .title
    %span.main-text-color Getting your 
    AWESOME PRIZE is easy!
  %ul
    %li 
      .number 1
      .text
        Sign up and complete a survey
    %li
      .number 2
      .text
        Tell all your friends about us
    %li 
      .number 3
      .text
        Get an awesome prize!
    

.right-column.pull-right
  .timer-box
    %span.title.clearboth Time remaining to complete your tasks
    %span.counter ...
    SECONDS

.clearboth
